<template>
	<div id="base">
		<div id="map">
			<div id="menu">
				<application-menu class="items column"></application-menu>
			</div>
			<div class="ui map active dimmer" v-if="!fetched">
				<div class="ui loader"></div>
			</div>
			<l-map ref="map" @move="fetchBreweriesForCurrentBounds()">
				<l-tile-layer :url="mapAttributes.url" :attribution="mapAttributes.attribution"></l-tile-layer>
				<l-circle-marker v-for="brewery in breweries" color="#FFA500" fill-color="#FFA500" :lat-lng="brewery.marker" @click="selectBrewery(brewery)">
					<l-tooltip :content="brewery.name" :options="tooltipsOptions"></l-tooltip>
				</l-circle-marker>
			</l-map>
		</div>
		<div id="content" v-if="isContentShown">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	import { LMap, LTileLayer, LCircleMarker, LTooltip } from "vue2-leaflet"
	import * as L from "leaflet"

	import ApplicationMenu from "./components/ApplicationMenu"

	export default {
		components: { LMap, LTileLayer, LCircleMarker, LTooltip, ApplicationMenu },
		data() {
			return {
				map: null,
				timeout: null,
				breweries: [],
				breweriesCount: null,
				fetched: false,
				settings: {
					nightMode: false,
					permanentTooltips: false,
				}
			}
		},
		computed: {
			isContentShown() {
				return this.$route.name !== "home"
			},
			tooltipsOptions() {
				return {
					permanent: this.settings.permanentTooltips,
					direction: "right",
					offset: { x: 12, y: 0 }
				}
			},
			mapAttributes() {
				let url = "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"

				if(this.settings.nightMode) {
					url = "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}{r}.png"
				}

				return {
					url: url,
				}
			}
		},
		mounted() {
			this.map = this.$refs.map.mapObject

			if(this.$cookies.isKey("night-mode")) {
				this.settings.nightMode = this.$cookies.get("night-mode") === "true"
			}
			if(this.$cookies.isKey("permanent-tooltips")) {
				this.settings.permanentTooltips = this.$cookies.get("permanent-tooltips") === "true"
			}

			if(this.$route.name === "brewery") {
				return
			}

			this.$http.get("map/default/bounds").then(response => {
				let bounds = response.data.data.map(bound => {
					return new L.latLng(bound.latitude, bound.longitude)
				})

				this.map.invalidateSize().fitBounds(bounds)
				this.fetchBreweriesForCurrentBounds()
			})
		},
		methods: {
			fetchBreweriesForCurrentBounds() {
				clearTimeout(this.timeout)

				this.timeout = setTimeout(() => {
					this.fetched = false
					let bounds = this.map.getBounds()

					this.$http.get("breweries/" + this.buildBoundsUrl(bounds)).then(response => {
						this.breweries = response.data.data.map(brewery => {
							brewery.marker = L.latLng(brewery.coordinates.latitude, brewery.coordinates.longitude)
							return brewery
						}).sort((a, b) => a.searchName.localeCompare(b.searchName))
						this.breweriesCount = response.data.count

						this.fetched = true
					})
				}, 100)
			},
			buildBoundsUrl(bounds) {
				let result = [
					bounds.getNorth(),
					bounds.getEast(),
					bounds.getSouth(),
					bounds.getWest(),
				]

				return result.join("/")
			},
			selectBrewery(brewery) {
				this.$router.push({
					name: "brewery",
					params: {
						slug: brewery.slug
					}
				})
			}
		},
		watch: {
			"$route.name"() {
				setTimeout(() => {
					this.map.invalidateSize()
				}, 100)
			},
			"settings.nightMode"(value) {
				this.$cookies.set("night-mode", !!value)
			},
			"settings.permanentTooltips"(value) {
				this.$cookies.set("permanent-tooltips", !!value)
				this.breweries = []
				this.fetchBreweriesForCurrentBounds()
			}
		}
	}
</script>

<style lang="scss">
	@import "~leaflet/dist/leaflet.css";

	html, body, #app, #base {
		height: 100%;
		margin: 0;
		color: #222;
		overflow: hidden;
		background: Black;
	}

	#base {
		position: relative;
		background: Black;
		width: 100vw;
		height: 100vh;
		display: flex;

		$segmentMargin: 32px;

		#menu {
			position: absolute;
			display: flex;
			top: $segmentMargin;
			right: $segmentMargin;
			bottom: $segmentMargin;
			z-index: 430;

			& > div {
				&.items {
					text-align: center;

					a {
						display: block;
						color: inherit;
					}
				}
			}
		}

		#map {
			flex: 2;
			z-index: 100;
			position: relative;
			transition: all 1s;

			.map.dimmer {
				background-color: rgba(0,0,0,.15);
			}
		}

		#content {
			flex: 1;
			background-color: White;
			overflow-y: auto;
			transition: all 1s;

			& > div > *:not(.header) {
				padding: 1em 2em;
			}

			& > * > .header {
				background: Orange !important;
				padding: 1em;
				color: White;

				.sub.header {
					color: rgba(White, .75);
				}
			}
		}
	}
</style>
