<template>
	<div id="dashboard">
		<h1>Panel administracyjny</h1>
		<div class="ui dashboard divider"></div>
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
	}
</script>

<style lang="scss">
	#dashboard {
		background: White;
		height: 100vh;
		padding: 3em 5em;

		.dashboard.divider {
			margin: 2em 0;
		}
	}
</style>
