<template>
    <div>
        <div class="ui equal width grid">
            <div class="column" v-for="statistic in statistics">
                <div class="ui segments">
                    <div class="ui right aligned segment">
                        <div class="ui huge statistic">
                            <div class="value">
                                {{ statistic.value }}
                            </div>
                        </div>
                    </div>
                    <div class="ui right aligned attached secondary segment">
                        <p>{{ statistic.label }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: "Dashboard",
		data() {
			return {
				statistics: [
					{ label: "otwartych browarów", value: 1138 },
					{ label: "planowanych browarów", value: 123 },
					{ label: "zamkniętych browarów", value: 234 },
					{ label: "map", value: 34 },
					{ label: "państw", value: 14 },
				],
			}
		},
	}
</script>

<style scoped>
    .secondary.segment {
        padding: .5em;
    }
</style>