<template>
	<div>
		<router-link :to="getRoute(item.route)" class="ui segment" v-for="item in items" :class="{ 'inactive': $route.meta.section !== item.route }" :key="item.route">
			<div class="floating ui red label" v-if="item.label">
				{{ item.label }}
			</div>
			<i class="fitted large icon" :class="item.icon"></i>
		</router-link>
	</div>
</template>

<script>
	export default {
		computed: {
			items() {
				let settingsCounter = 0
				for(let n in this.$parent.settings) {
					if(this.$parent.settings[n]) settingsCounter++
				}

				return [
					{ route: "home", icon: "home" },
					{ route: "breweries", icon: "tasks", label: this.$parent.breweries.length },
					{ route: "maps", icon: "map" },
					{ route: "search", icon: "search" },
					{ route: "log", icon: "lightbulb outline" },
					{ route: "settings", icon: "cogs", label: settingsCounter },
				]
			}
		},
		methods: {
			getRoute(route) {
				return {
					name: this.$route.name !== route ? route : "home"
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.segment {
		background: Orange !important;
		color: White !important;
		transition: all .5s;

		i {
			transition: all .5s;
		}

		&.inactive {
			background: lighten(Orange, 25) !important;
			transition: all .5s;

			i {
				transform: scale(.75);
				transition: all .5s;
			}
		}
	}
</style>
