<template>
	<div v-if="brewery">
		<h1 class="ui header">
			<i class="alternate map marker icon"></i>
			<div class="content">
				{{ brewery.name }}
				<div class="sub header">
					<i class="flag" :class="brewery.location.country.symbol"></i>
					{{ brewery.location.country.name }}
					<span v-if="brewery.location.city">
						<i class="fitted small right angle double right icon"></i>
						{{ brewery.location.city }}
					</span>
					<span v-if="brewery.location.address">
						<i class="fitted small right angle double right icon"></i>
						{{ brewery.location.address }}
					</span>
				</div>
			</div>
		</h1>

		<p>
			{{ brewery.description }}
		</p>

		<div class="ui divider"></div>
		<div class="ui two column grid">
			<div class="column">
				<h3>Klasyfikacja</h3>
				<div class="ui relaxed divided list">
					<div class="item">
						<i class="large green outline check circle icon"></i>
						<div class="middle aligned content">
							mikrobrowar
						</div>
					</div>
					<div class="item">
						<i class="large green outline check circle icon"></i>
						<div class="middle aligned content">
							uruchomiony: 30 VI 2017
						</div>
					</div>
					<div class="item">
						<i class="large outline question circle icon"></i>
						<div class="middle aligned content">
							wybicie nieznane
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<h3>Informacje dodatkowe</h3>
				<div class="ui relaxed divided list">
					<div class="item">
						<div class="right floated content">
							<div class="ui small label">zobacz</div>
						</div>
						<i class="large green outline check circle icon"></i>
						<div class="middle aligned content">
							godziny otwarcia
						</div>
					</div>
					<div class="item">
						<i class="large green outline check circle icon"></i>
						<div class="middle aligned content">
							wyszynk na miejscu
						</div>
					</div>
					<div class="item">
						<i class="large red outline times circle icon"></i>
						<div class="middle aligned content">
							zwiedzanie niemożliwe
						</div>
					</div>
				</div>

				<h3>W internecie</h3>
				<div class="ui relaxed divided list">
					<div class="item" v-for="(link, portal) in brewery.online">
						<div class="right floated content" v-if="link">
							<a :href="link" class="ui small label" target="_blank">
								przejdź
							</a>
						</div>
						<i class="large outline circle icon" :class="{ 'green check': link, 'red times': !link }"></i>
						<div class="middle aligned content">
							{{ portal[0].toUpperCase() + portal.substr(1) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div v-else>
		<div class="ui placeholder">
			<div class="image header">
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<div class="paragraph">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from "vue"

	export default {
		data() {
			return {
				brewery: null,
			}
		},
		mounted() {
			this.fetchBreweryBySlug()
		},
		methods: {
			fetchBreweryBySlug() {
				this.brewery = null
				this.$http.get("/brewery/" + this.$route.params.slug).then(response => {
					let brewery = response.data.data
					let marker = L.latLng(brewery.location.coordinates.latitude, brewery.location.coordinates.longitude)

					this.$parent.map.setView(marker, 13)
					this.brewery = brewery
				})
			}
		},
		watch: {
			"$route"() {
				this.fetchBreweryBySlug()
			}
		}
	}
</script>

<style lang="scss" scoped>
	.transparent {
		opacity: 0;
	}

	.sub.header {
		i.angle {
			padding: 0 .25em;
		}
	}
</style>
