<template>
	<div>
		<h1 class="ui header">
			Lista browarów
			<div class="sub header">Lista browarów widocznych na wybranym obszarze</div>
		</h1>

		<div class="ui relaxed divided list">
			<router-link :to="{ name: 'brewery', params: { slug: brewery.slug } }" class="item" v-for="brewery in $parent.breweries">
				<i class="middle aligned large outline circle icon"></i>
				<div class="content">
					<a class="header">{{ brewery.name }}</a>
					<div class="description">
						<i class="flag" :class="brewery.country.symbol"></i>
						{{ brewery.country.name }}
					</div>
				</div>
			</router-link>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	a {
		color: inherit;
	}
</style>
