<template>
	<div>
		<h1 class="ui header">
			Logi
			<div class="sub header">Ostatnie zmiany w systemie</div>
		</h1>

		<div class="ui relaxed divided list">
			<div class="item" v-for="log in logs">
				<i class="middle aligned large outline circle icon"></i>
				<div class="content">
					<a class="header">{{ log.message }}</a>
					<div class="minor description">
						<i class="small user icon"></i> {{ log.author }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				logs: [
					{ message: "Dodano browar: Staromiejski Piwowar", author: "Krzysztof Rewak" },
					{ message: "Edytowano mapę: Bułgaria", author: "Krzysztof Rewak" },
				],
			}
		},
	}
</script>

<style lang="scss" scoped>
	.minor {
		opacity: .75;
	}
</style>
