<template>
	<div v-if="map">
		<h1 class="ui header">
			{{ map.name }}
			<div class="sub header">Mapa</div>
		</h1>

		<div class="ui horizontal divider">
			opis
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias delectus, deleniti error et illo incidunt ipsam minima necessitatibus nemo nobis pariatur ratione recusandae tempore ut voluptate voluptatem! Architecto.</p>

		<div class="ui horizontal divider">
			browary
		</div>

		<div class="ui relaxed divided list">
			<router-link :to="{ name: 'brewery', params: { slug: brewery.slug } }" class="item" v-for="brewery in map.breweries">
				<i class="middle aligned large outline circle icon"></i>
				<div class="content">
					<a class="header">{{ brewery.name }}</a>
					<div class="description">
						<i class="flag" :class="brewery.country.symbol"></i>
						{{ brewery.country.name }}
					</div>
				</div>
			</router-link>
		</div>
	</div>
	<div v-else>
		<div class="ui placeholder">
			<div class="image header">
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<div class="paragraph">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				map: null,
			}
		},
		mounted() {
			this.$http("map/" + this.$route.params.slug).then(response => {
				this.map = response.data.data
			})
		}
	}
</script>

<style lang="scss" scoped>
</style>
