<template>
	<div>
		<h1 class="ui header">
			Mapy
			<div class="sub header">Popularne mapy</div>
		</h1>

		<div class="ui three stackable special cards">
			<router-link :to="{ name: 'map', params: { slug: map.slug } }" class="card" v-for="map in maps">
				<div class="image">
					<img :src="map.cover_url">
				</div>
				<div class="extra center aligned content">
					{{ map.name }}
				</div>
			</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				maps: [],
			}
		},
		mounted() {
			this.$http("maps").then(response => {
				this.maps = response.data.data
			})
		}
	}
</script>

<style lang="scss" scoped>
</style>
