<template>
	<div>
		<h1 class="ui header">
			Szukaj
			<div class="sub header">Przeszukaj bazę danych</div>
		</h1>

		<div class="ui fluid icon input">
			<i class="search icon"></i>
			<input placeholder="Szukaj browarów (wpisz przynajmniej trzy znaki)" type="text" v-model="searchPhrase">
		</div>

		<div class="ui divider"></div>

		<div class="ui relaxed divided list">
			<div class="item" v-if="searchingNotStarted">
				<i class="middle aligned large outline circle icon"></i>
				<div class="content">
					<div class="ui placeholder">
						<div class="paragraph">
							<div class="medium line"></div>
							<div class="short line"></div>
						</div>
					</div>
				</div>
			</div>
			<router-link :to="{ name: 'brewery', params: { slug: brewery.slug } }" class="item" v-for="brewery in breweries">
				<i class="middle aligned large outline circle icon"></i>
				<div class="content">
					<a class="header">{{ brewery.name }}</a>
					<div class="description">
						<i class="flag" :class="brewery.country.symbol"></i>
						{{ brewery.country.name }}
					</div>
				</div>
			</router-link>
			<div class="item" v-if="noResults">
				<i class="middle aligned large exclamation circle icon"></i>
				<div class="content">
					<span class="header">Brak wyników</span>
					<div class="description">
						Nie ma browarów odpowiadających zapytaniu
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				breweries: [],
				noResults: false,
				searchingNotStarted: true,
				searchPhrase: "",
				timeout: null,
			}
		},
		watch: {
			searchPhrase(searchPhrase) {
				clearTimeout(this.timeout)
				this.timeout = setTimeout(() => {
					if(searchPhrase.length >= 3) {
						this.searchingNotStarted = false
						this.$http.get("breweries/search/" + searchPhrase).then(response => {
							this.breweries = response.data.data.sort((a, b) => a.searchName.localeCompare(b.searchName))
							this.noResults = this.breweries.length === 0
						})
					} else {
						this.searchingNotStarted = true
						this.breweries = []
					}
				}, 500)
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>
