<template>
	<div>
		<h1 class="ui header">
			Ustawienia
			<div class="sub header">Ustawienia systemowe (zostaną zapisane w plikach cookie)</div>
		</h1>

		<div class="ui horizontal divider">
			opcje mapy
		</div>
		<div class="ui form">
			<div class="grouped fields">
				<div class="field">
					<div class="ui toggle checkbox">
						<input type="checkbox" v-model="$parent.settings.nightMode">
						<label>tryb nocny</label>
					</div>
				</div>
				<div class="field">
					<div class="ui toggle checkbox">
						<input type="checkbox" v-model="$parent.settings.permanentTooltips">
						<label>pokazuj wszystkie nazwy na mapie</label>
					</div>
				</div>
			</div>
		</div>

		<div class="ui horizontal divider">
			wyświetlanie browarów
		</div>
		<div class="ui form">
			<div class="grouped fields">
				<div class="field">
					<div class="ui toggle checkbox">
						<input type="checkbox" v-model="opened">
						<label>otwarte</label>
					</div>
				</div>
				<div class="field">
					<div class="ui toggle checkbox">
						<input type="checkbox">
						<label>planowane</label>
					</div>
				</div>
				<div class="field">
					<div class="ui toggle checkbox">
						<input type="checkbox">
						<label>zamknięte</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				opened: true
			}
		},
		methods: {
			toggleOpened() {
				this.$cookies.set("ShowOpenedBreweries", this.opened)
			}
		},
		watch: {
			opened() {
				this.toggleOpened()
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>
